name: Fetch and Save Data

on:
  schedule:
    - cron: '0 15 * * *'  # Runs every day at 10:00 AM US Central Time
    - cron: '0 18 * * *'  # Runs every day at 1:00 PM US Central Time
    - cron: '0 1 * * *'   # Runs every day at 8:00 PM US Central Time
    - cron: '0 6 * * *'   # Runs every day at 1:00 AM US Central Time

jobs:
  fetch-and-save-data:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas requests

    - name: Run script
      run: python ../fetchsaveAPIdata_DS.py

     - name: Archive data on failure
      if: failure()  # This step will run only if the previous step fails
      uses: actions/upload-artifact@v2

